@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #032541;
  --secondary: #f99844;
  --white: #fff;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  border: solid 1px #d8d8d8;
  background-color: var(--white);
  color: #323232;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn2 {
  padding: 10px 15px;
  border: solid 1px #d8d8d8;
  background-color: #7ce175;
  color: #323232;
  border-radius: 20px;
  font-weight: 500;
  display: inline-block;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
  font-family: Arial, Helvetica, sans-serif;
}

.btn3 {
  position: relative;
  width: 300%;
  bottom: 0px;
  padding: 10px 15px;
  border: solid 1px #d8d8d8;
  background-color: #fc7373;
  color: #323232;
  border-radius: 20px;
  font-weight: lighter;
  display: inline-block;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
  font-family: Helvetica;
}

.remove-btn-div {
  position: relative;
  width: 33%;
  bottom: 0;
  align-items: bottom;
}

.btn:hover {
  background-color: var(--secondary);
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.btn2:hover {
  background-color: #5bbd54;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.btn3:hover {
  background-color: #c04646;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.btn:focus{
  background-color: #f99844;
  color: #fff;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn2:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

.search-header {
  margin-left: 10%;
  padding-bottom: 0px;
  justify-content: flex-start;
}

.results-grid {
  display: grid;
}

.movie-title-lib {
  line-height: 120%;
  padding: 0;
  margin: 0;
  border: 0;
}

.header-search-icon {
  height: 35px;
  position: absolute;
  left: 17%;
  margin-top: 0.2%;
}

.find-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  font-size: 120%;
  max-width: 45%;
  font-family: Arial, Helvetica, sans-serif;
  color: #acacac;
}

.empty2 {
  padding-top: 5%;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  font-size: 120%;
  max-width: 25%;
  font-family: Arial, Helvetica, sans-serif;
  color: #acacac;
}

.empty img {
  height: 170px;
  opacity: 50%;
}

.empty2 img {
  height: 170px;
  opacity: 50%;
}

/* Header Styles */
header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: var(--white);
  border-bottom: solid 1px #dbdada;
  padding-bottom: 8px;
  z-index: 1;
}

.post-cont {
  position: relative;
  top: 0;
  left: 0;
}

.post-cont:hover .card-image {
  opacity: 50%;
}


.card:hover {
  outline: solid 3px var(--secondary);
  border: none;
}

.play-btn {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

.space {
  height: 60px;
}

.up-part {

}

.custom-btn {
  background: #fff;
  width: 130px;
  height: 50px;
  padding: 10px 20px;
  border: 2px solid var(--secondary);
  border-radius: 40px;
  font-family: Calibri;
  font-size: 110%;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  display: inline-block;
  right: 3%;
  bottom: 5%;
  color: var(--secondary);
}

.btn-1 {
  transition: all 0.3s ease;
}
.btn-1:hover {
  background: var(--secondary);
  color: #fff;
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}

header .inner-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

.moovy_logo {
  height: 40px;
  display: flex;
  align-items: center;
}

header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  justify-content: flex-start;
  padding-left: 5%;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

/* Add Page */
.add-content {
  padding: 0px 0;
  max-width: 600px;
  margin: 0 auto;
}

.add-content .input-wrapper input {
  width: 100%;
  background-color: var(--white);
  padding: 10px;
  padding-left: 4%;
  border-radius: 20px;
  border: solid 1px #c4c4c4;
  color: #323232;
  font-size: 1.25rem;
  position: relative;
}

.input-wrapper img {
  height: 35px;
  position: relative;
  left: 92%;
  top: -42px;
  margin-top: 0.35%;
}

.results {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: grid;
}

.results li {
  list-style: none;
}

.result-card {
  display: flex;
  margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
  width: 75px;
  height: 113px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.result-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-card .info .title {
  font-size: 1.25rem;
  color: var(--primary);
  font-weight: 600;
  margin: 0;
}

.result-card .info .release-date {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--primary);
  margin: 0;
}

.result-card .controls button {
  margin-right: 10px;
}

/* Movie Page */
.movie-page {
  padding: 30px 0;
}

.movie-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.count-pill {
  display: block;
  background-color: var(--secondary);
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999px;
  color: var(--primary);
}

.movie-page .heading {
  color: var(--primary);
  margin: 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 20px;
}

.movie-grid2 {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-gap: 20px;
}

@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(3, 3fr);
  }
}

@media (min-width: 1000px) {
  .movie-grid2 {
    grid-template-columns: repeat(5, 5fr);
  }
}

.movie-card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: block;
}

.movie-card img {
  width: 100%;
  display: block;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.movie-card:hover .overlay {
  border: 3px solid var(--secondary);
}

.movie-card .inner-card-controls {
  display: inline;
  background-color: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

.movie-card:hover .inner-card-controls {
  opacity: 1;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}

.popup {
  margin: 0 auto;
  position: absolute;
  align-items: center;
  display: inline-block;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 12%;
}

@keyframes hide {
  from { opacity: 1 }
  to   { opacity: 0 }
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: fixed;
  z-index: 1;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s, hide 1s 4s forwards;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

.popup .hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
